@model CPT.Helper.Dto.Request.Account.LoginRequestDto

@{
    Layout = null;
}
<link href="~/css/Login.css" rel="stylesheet" />
<title>User login</title>
@if (ViewBag.Message != null)
{
    <label> Your password has been reset successfully!</label>
}
<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form asp-action="Login" asp-controller="Account" , class="login">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" asp-for="Username" class="login__input" placeholder="Name" />
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login__input" asp-for="Password" placeholder="Password">
                </div>
                <button class="button login__submit">
                    <span class="button__text">Log In Now</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>

                <div>
                    @ViewBag.Message
                </div>
            </form>
            <div class="social-login">
                <h3>log in via</h3>
                <div class="social-icons">
                    <a href="#" class="social-login__icon fab fa-instagram"></a>
                    <a href="#" class="social-login__icon fab fa-facebook"></a>
                    <a href="#" class="social-login__icon fab fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>